<div class="review-messages">
  <% if (messages && messages.notice) { %>
    <div class="review-alert success" id="notice-message">
      <%= messages.notice %>
    </div>
  <% } %>

  <% if (messages && messages.error) { %>
    <div class="review-alert error" id="error-message">
      <%= messages.error %>
    </div>
  <% } %>
</div>